:root {
  --white: rgb(224, 225, 220);
  --light-red: rgb(223, 15, 45);
  --dark-red: rgb(77, 1, 10);
  --blue-gray: rgb(15, 26, 36);
  --black: rgb(14, 20, 29);
}
body {
  font-family: Arial, monospace;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--blue-gray);
}

#main {
  display: flex;
  /* display: none; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 55%;
  padding: 3rem;
}
#main-heading {
  color: rgb(236, 209, 209);
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#main-paragraph {
  color: rgb(190, 177, 177);
  font-size: 1.75rem;
  margin-bottom: 0;
  margin-top: 1.5rem;
  text-align: center;
}
#title {
  display: none;
}
/* remove title */

#body-grid {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  margin-top: 6rem;
}
#body-grid div h1 {
  font-size: 3rem;
}
.container {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 40rem;
  text-align: center;
  color: rgb(236, 209, 209);
  margin-bottom: 10rem;
}
/* The form  */
#youtubeForm {
  display: flex;
}

input[type="text"] {
  width: 90%;
  padding: 10px;
  margin: 5px;
  border: 1px solid #565151;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  outline: none;
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
}

input[type="submit"] {
  background-color: rgba(0, 0, 0, 0.1);
  color: #fff;
  padding: 10px 20px;
  margin: 5px;
  border: 1px solid #565151;
  border-radius: 0.2rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

#playerControls {
  display: flex;
  flex-direction: row;
}
#playerControls * {
  display: none;
}
.progress-container {
  width: 100%;
  height: 10px; /* Adjust height as needed */
  background-color: #ccc; /* Gray background */
  cursor: pointer; /* Change cursor to indicate interactivity */
}

/* Styles for the progress bar */
.progress-bar {
  height: 100%;
  width: 0; /* Will be updated dynamically */
  background-color: #007bff; /* Blue color */
  transition: width 0.2s; /* Add smooth transition effect */
}
@media (max-width: 936px) {
  /* body {
    flex-direction: column;
  } */
}
